<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/posts" method="post" class="form">
        <input type="text" placeholder="Enter username" name="username"><br><br>
        <textarea name="content" placeholder="Write your post" id=""></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>